
<div class="container">
  <button mat-icon-button color="primary" (click)="alternaLista()" *ngIf="mostrar">
    <mat-icon>expand_more</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="alternaLista()" *ngIf="!mostrar">
    <mat-icon>chevron_right</mat-icon>
  </button>
  
  <div *ngIf="mostrar">
    <ul>
      <li>
        <span>
          Artículo
        </span>
        <span>
          Precio
        </span>
      </li>
      <li *ngFor="let articulo of articulos">
        <span>
          {{ articulo.nombre }}
        </span>
        <span>
          {{ articulo.costo }}
        </span>
        
      </li>
    </ul>
  </div>
</div>
<!--
<router-outlet></router-outlet> -->
